body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  padding: 40px;
  background-color: lightgray;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
